<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"
		target="System.out">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/home/gooru/workspace/sbl-login-event-handler/sbl-login-event-handler.log
		</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/home/gooru/workspace/sbl-login-event-handler/sbl-login-event-handler.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<append>true</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="KAFKA-ERROR-LOG-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/home/gooru/workspace/sbl-login-event-handler/kafka-dipatch-failed.log
		</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/home/gooru/workspace/sbl-login-event-handler/kafka-dipatch-failed.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<append>true</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="EVENT-ERROR-LOG-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/home/gooru/workspace/sbl-login-event-handler/event-error.log
		</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/home/gooru/workspace/sbl-login-event-handler/event-error.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<append>true</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>


	<logger name="org.gooru" level="debug">
	</logger>

	<logger name="org.gooru.kafka.error.logs" level="error">
		<appender-ref ref="KAFKA-ERROR-LOG-FILE" />
	</logger>

	<logger name="org.gooru.event.error.logs" level="error">
		<appender-ref ref="EVENT-ERROR-LOG-FILE" />
	</logger>

	<root level="debug">
		<appender-ref ref="FILE" />
	</root>
</configuration>
